//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;

//COLORSff2e63
$color_primary: #ff3f34;
//#e74c3c;
// #f5484a;



$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;

$color-white: #ffffff;
$color-light-white:   #f0eee1;
$color-black: #000000; 

//NAVIGATION
$color-menu-background: #2f3640;
// #030d18;
$color-menu-text:  #ffffff;

//header
$color-header-main: #ffffff;
$color-main_background:#999;
$color-header-sub: #ffffff;






