//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;

//COLORS
$color_primary: #f5484a;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;

$color-white: #ffffff;
$color-black: #000000; 

//NAVIGATION
$color-menu-background:  #030d18;






