.c-navigation {
    margin-top: auto;
    font-size: $default-font-size;
    background-color: rgba($color-menu-background, 0.8);

    &__nav {
        transition: all 0.2s;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &.js-is-visible {
            visibility: visible;
            transform: scale(1);
            transition: transform .3s, visibility 0s;
        }
    }

    &__item {
        list-style: none;
        margin: 1.4rem;
    }

    &__link {
        display: flex;
        flex-flow: column;

        text-decoration: none;
        align-items: center;
        transition: all 0.2s;

        &:link,
        &:visited {
            color: $color-menu-text;
        }

        &:hover,
        &:active,
        &.active span {
            color: $color-primary;
            transition: color 0.4s;
            backface-visibility: hidden;
        }
    }

    &__text {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: .1rem;
    }


    //mini button for secondary nav
    &__mobile-menu {
        position: fixed;
        visibility: hidden;
        bottom: 3vh;
        right: 3vh;
        width: 6rem;
        height: 6rem;
        background-color:  rgba($color-primary, .85);    
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        border-radius: 6px;
        z-index: 2;
        
        &--notation {
            position: absolute; 
            @include absCenter;
            background: rgba($color-white, 1);    
            transition: background .3s;

            &,
            &::before,
            &::after {
                width: 3rem;
                height: 2px;
                background-color: $color-white;
                display: inline-block;              
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                transition: transform .3s;
            }
    
            &::before {
               top: -.9rem;           
            }
    
            &::after {
                top: .9rem;            
            }

            // DOT style menu
            // position: absolute;
            // background-color: $color-white;
            // width: 4px;
            // height: 4px;
            // border-radius: 50%;

            // //to mixin
            // top: 50%;
            // left: 50%;
            // transform: translateX(-50%) translateY(-50%);
            // transition: all .3s;

            // &::before,
            // &::after {
            //     content: '';
            //     position: absolute;
            //     background: inherit;
            //     width: 100%;
            //     height: 100%;
            //     border-radius: 50%;
            //     transition: all .3s;
            // }

            // &::before {
            //     right: -10px;
            //     transition: all .3s;
            // }

            // &::after {
            //     left: -10px;
            //     transition: all .3s;
            // }


        }

        //added by JS
        &.js-menu-is-open {
            background: transparent;
            
            & span {
                background: rgba($color-white, 0);            
                width: 20px;
                height: 2px;
                // background-color: transparent;
                transition: background .3s;
               
                &::before,
                &::after {
                    background: rgba($color-white, 1);
                    width: 100%;
                    height: 100%;
                    border-radius: 0;
                    top: 0;
                    left: 0;
                    transition: transform .3s;
                }

                &::before {
                    transform: rotate(135deg);                   
                }

                &::after {
                    transform: rotate(225deg);
                }
            }
        }
    }


    /*add byed JS*/
    &.js-animate-children {
        box-shadow: 0 1px 2px rgba($color-black, .2);

        .c-navigation {
            &__nav {
                padding-left: 10rem;
                padding-right: 10rem;
            }

            &__item {
                transition: all .3s;
            }

            &__text {
                transform: translateY(-2rem);
                transition: all .3s;
            }

            &__icon {
                opacity: 0;
                transition: opacity 0.2s;
            }
        }
    }

    /*added by JS*/
    &.js-is-fixed {
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba($color-menu-background, 1);
        border-bottom: 1px solid black;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transition: background-color .4s, height .3s;
        width: 100%;
    }

    @include respond('tab-land') {
        &__mobile-menu {
            visibility: visible;
        }

        &__list {
            flex-flow: column;
            align-items: stretch;
            position: fixed;
            border-radius: 5px;
            width: 90%;
            max-width: 40rem;
            background: rgba($color-menu-background, .9);
            bottom: 3vh;
            right: 3vh;
            z-index: 1;
            transform: scale(0);
            transform-origin: (100% 100%);
            transition: transform .3s, visibility 0s;
            box-shadow: 0 1rem 2rem rgba($color-black, .15);
            
        }

        &__item {
            margin: 0;
        }

        &__link {
            align-items: flex-start;
            padding: 2rem;
            border-top: 1px solid lighten($color-menu-background, 3%);
        }

        &__icon {
            display: none;
        }

        &__text {
            transform: none !important;
            padding: 1.4rem;
            color: $color-white;
        }
    }
}