.c-navigation {
    margin-top: auto;
    font-size: $default-font-size;
    background-color: $color-desktop-menu-background;
    //box-shadow: 0px -1px 5px 0px;
    box-shadow: 0px 0px 10px 1px $color-black;

    &__nav {
        transition: all 0.2s;
    }

    &__list {
        display: flex;
        flex-direction: row;

        &.js-is-visible {
            visibility: visible;
            transform: scale(1);
            transition: transform .3s, visibility 0s;
        }
    }

    &__item {
        list-style: none;
        margin: 1.4rem;
        width: 30%;
    }

    &__link {
        display: flex;
        flex-flow: column;
        text-decoration: none;
        align-items: center;
        transition: all 0.2s;

        &:link,
        &:visited {
            color: $color-menu-text;
        }

        &:hover,
        &:active,
        &.active span {
            color: $color-primary;
            transition: color 0.4s;
            backface-visibility: hidden;
        }
    }

    &__text {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: .1rem;
        
    }

    &__icon{
        width: 3.7rem;
        height: 3.7rem;
        padding-bottom: .3rem;
        fill: $color-white;
    }

    //mini button for secondary nav
    &__mobile-menu {
        position: fixed;
        visibility: hidden;
        bottom: 3vh;
        right: 3vh;
        width: 8rem;
        height: 8rem;
           background-color:rgba(0, 0, 0, 0.795); 
        border-radius: 6px;
        z-index: 2;

        &--notation {
            position: absolute;
            @include absCenter;
            background: rgba($color-white, 1);
            transition: background .3s;

            &,
            &::before,
            &::after {
                width: 5rem;
                height: 2px;
                background-color: $color-white;
                display: inline-block;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                transition: transform .3s;
            }

            &::before {
                top: -1.3rem;
            }

            &::after {
                top: 1.3rem;
            }
        }

        //added by JS
        &.js-menu-is-open {
            background: transparent;


            & span {
                background: rgba($color-white, 0);
                width: 20px;
                height: 2px;
                // background-color: transparent;
                transition: background .3s;

                &::before,
                &::after {
                    background: rgba($color-white, 1);
                    width: 100%;
                    height: 100%;
                    border-radius: 0;
                    top: 0;
                    left: 0;
                    transition: transform .3s;
                }

                &::before {
                    transform: rotate(135deg);
                }

                &::after {
                    transform: rotate(225deg);
                }
            }
        }
    }


    /*add by JS*/
    &.js-animate-children {
        box-shadow: 0 1px 2px rgba($color-black, .2);


        .c-navigation {
            &__nav {
                padding-left: 10rem;
                padding-right: 10rem;
            }

            &__item {
                transition: all .3s;
            }

            &__text {
                transform: translateY(-2rem);
                transition: all .3s;
            }

            &__icon {
                opacity: 0;
                transition: opacity 0.2s;
            }
        }
    }

    /*added by JS*/
    &.js-is-fixed {
        position: fixed;
        left: 0;
        top: 0;
         background-color: $color-fixed-desktop-menu-background;
        border-bottom: 1px solid black;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transition: background-color .4s, height .3s;
        width: 100%;
      
    }

    @include respond('tab-land') {
        &__mobile-menu {
            visibility: visible;
        }

        &__list {
            flex-flow: column;
            align-items: stretch;
            position: fixed;
            border-radius: 5px;
            width: 90%;
            max-width: 40rem;
            background: $color-mobile-menu-background;
            bottom: 3vh;
            right: 3vh;
            z-index: 1;
            transform: scale(0);
            transform-origin: (100% 100%);
            transition: transform .3s, visibility 0s;
            box-shadow: 0 1rem 2rem rgba($color-black, .55);
        }

        &__item {
            margin: 0;
            width: 100%;
        }

        &__item:not(:last-child) {
            border-bottom: 1px solid $color-mobile-menu-border-background;
        }

        &__link {
            align-items: flex-start;
            padding: 2rem;
        }

        &__icon {
            display: none;
        }

        &__text {
            transform: none !important;
            padding: 1.4rem;
            color: $color-white;
        }
    }
}