body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark-2;
}



.paragraph {
    font-size: $default-font-size;
    padding-bottom: 3rem;
}


.c-heading-primary {
    display: flex;
    font-family: 'Lato', sans-serif;
    flex-flow: column;

    text-transform: uppercase;
    

    // overflow: hidden;


    &--main {
        text-shadow:  0 1rem 2rem rgba($color-black, .3);
        background-color: rgba($color-menu-background, .33);
        
        border-radius: 4rem 0 0 0;
        // margin-bottom: 2.2rem;
        font-size: 12rem;
        font-weight: 300;
        letter-spacing: 3.1rem;
        text-align: center;
        color: $color-header-main;
        // background-color: rgba($color-main_background, .7);
    }

    &--sub {
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 1.4rem;
        text-align: center;
        background-color: rgba($color_primary, .7);
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        padding: 2rem;
        border-radius: 0 0 4rem 0;
        margin-bottom: 9.6rem;
        color: $color-header-sub;
        padding-left: 15rem;
        padding-right: 15rem;
    }

}

.heading-tertiary {
    padding-top: 2rem;
    color: $color-grey-dark-3;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5rem;
    overflow: hidden;
    // word-wrap: break-word;
    text-shadow:  0 1rem 2rem rgba($color-black, .1);
}



