body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;

}



.paragraph {
    font-size: $default-font-size;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


.c-heading-primary {
    display: flex;
    font-family: 'Lato', sans-serif;
    flex-flow: column;
    box-shadow: 0 2rem 2rem rgba($color-black, .15);
    text-transform: uppercase;
    text-shadow: 0 1rem 2rem rgba($color-black, .3);
    margin-bottom: 10rem;
    border-radius: 10rem 0 10rem 0;
    //  padding-left: 15rem;
    //  padding-right: 15rem;
    width: 90%;
    max-width: 85rem;

    /*
    width: 90%;
            max-width: 40rem;
            */


    &--main {
        background-color: rgba($color-menu-background, .7);
        border-radius: 10rem 0 0 0;
        font-size: 10rem;
        font-weight: 500;
        letter-spacing: 1rem;
        text-align: center;
        color: $color-header-main;
        line-height: 13rem;
        padding: 4rem;

        // background-color: rgba($color-main_background, .7);
        @include respond(tab-port) {
            // border-radius: 0;
        }
    }

    &--sub {
        font-size: 2.2rem;
        font-weight: 500;
        letter-spacing: 1rem;
        text-align: center;
        background-color: rgba($color_primary, .7);
        line-height: 5.6rem;

        padding: 2rem;
        border-radius: 0 0 10rem 0;

        color: $color-header-sub;
        // padding-left: 15rem;
        // padding-right: 15rem;

        @include respond(tab-port) {
            // border-radius: 0;
            letter-spacing: .85rem;
        }

    }

}

.heading-tertiary {
    padding-top: 2rem;
    color: $color-grey-dark-3;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5rem;
    overflow: hidden;
    // word-wrap: break-word;
    text-shadow: 0 .32rem .5rem rgba($color-black, .2);
}