.u-center-text { text-align: center !important;}

.u-margin-bottom-small { padding-bottom: 1.5rem !important;}

.u-margin-bottom-medium { padding-bottom: 4rem !important;}

.u-margin-bottom-big { padding-bottom: 8rem !important;}

.u-margin-top-medium { padding-top: 4rem !important;}

.u-margin-top-big { padding-top: 6rem !important;}

.u-margin-top-huge { padding-top: 10rem !important;}