.c-section {

    & section:nth-child(even) {
        background-color: $color-menu-background;
        color: $color-grey-dark-2
    }

    & section:nth-child(odd)  {
        background-color: $color-light-white;
        color: #030d18;
    }

    & section:nth-child(even) .heading-tertiary {
        color: $color-grey-dark-2;
    }

  

    // &__about {}

    // &__services {}

    // &__forsale {}

    // &__pricelist {}

    // &__section-contact {}

}